{% extends "base.html" %}{% block title %}Course Page{% endblock%}

{% block content %}
<form method="POST">
    <h3 align="center">Course's Information</h3>
    <!-- A table to display all the course information-->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Instructor Id</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.courseId }}</td>
                <td>{{ course.courseTitle }}</td>
                <td>{{ course.instructorId }}</td>
                <td>
                    <button type="button" class="btn btn-light">Edit</button>
                    <button type="button" class="close" onClick="deleteCourse({{course.id}})">
                        <span aria-hiddden="true">&times;</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Asking for course id -->
    <div class="form-group">
        <label for="courseId">Course ID</label>
        <input
            type="courseId"
            class="form-control"
            id="courseId"
            name="courseId"
            placeholder="Enter the Course ID"
        />
    </div>
    <!-- Asking for course title-->
    <div class="form-group">
        <label for="courseTitle">Course Title</label>
        <input
            type="courseTitle"
            class="form-control"
            id="courseTitle"
            name="courseTitle"
            placeholder="Enter the Course Title"
        />
    </div>
    <!-- Asking for instructor id-->
    <div class="form-group">
        <label for="instructorId">Instructor ID</label>
        <input
            type="instructorId"
            class="form-control"
            id="instructorId"
            name="instructorId"
            placeholder="Enter the Instructor ID"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Course</button>
</form>
{% endblock %}